<nav class="main-menu">
    <ul>
        <li><a href="#" hx-get="myapp/views/pages/home.html" hx-target="#page-container">Home</a></li>
        <li><a href="#" hx-get="myapp/views/pages/login.html" hx-target="#page-container">Login</a></li>
        <li><a href="#" hx-get="myapp/views/pages/profile.html" hx-target="#page-container">Profile</a></li>
        <li><a href="#" hx-get="myapp/views/pages/lessons.html" hx-target="#page-container">Lessons</a></li>
        <li><a href="#" hx-get="myapp/views/pages/settings.html" hx-target="#page-container">Settings</a></li>
    </ul>
</nav>

<div id="page-container">
    <!-- Content will be loaded here -->
</div>
